TD,P,B,INPUT,DIV{font-family:Verdana; font-size:13px}
.clCMEvent{position:absolute; z-index:300; width:100%; height:100%; clip:rect(0,100%,100%,0); left:0; top:0; visibility:hidden}
.clCMAbs{position:absolute; width:10; height:10; left:0; top:0; visibility:hidden}

.clT,.clTover,.clS,.clSover,.clS2,.clS2over{position:absolute; overflow:hidden; width:130; height:25; cursor:pointer; cursor:hand}
.clT,.clTover{padding:4px; font-size:10px; font-weight:bold}
.clT{color:#FFFFFF; }   
.clTover{color:#CC3300;}
.clS,.clSover{padding:2px; font-size:10px; font-weight:bold}
.clS2,.clS2over{padding:2px; font-size:10px;}
.clS,.clS2{color:#006699; background-color:#CDDBEB; layer-background-color:#CDDBEB;}
.clSover,.clS2over{color:#CC3300;}
.clB,
.clBar{
layer-background-color:#336699;
background-color:#336699;
}
.clSover,.clS2over,.clTover{layer-background-color:#E1E1E1; background-color:#FFFFFF;}
.clB{position:absolute;z-index:300}
.clBar{width:99.99%; height:10px; color:#FFFFFF;font-weight: bold; padding: 10px; }
