#cssmenu,
#cssmenu ul,
#cssmenu li,
#cssmenu a {
  border: none;
  /*line-height: 0.5;*/
  line-height: 0.1;
  margin: 0;
  padding: 0;
}
#cssmenu {
  /*height: 33px;*/
  height: 30px;
  display: block;
  border: 1px solid;
  width: auto;
  border-color: #336699;
  margin: 0;
  padding: 0;
  background-color: #336699;
}
#cssmenu > ul {
  list-style: inside none;
  margin: 0;
  padding: 0;
}
#cssmenu > ul > li {
  list-style: inside none;
  float: left;
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
}
#cssmenu.align-center > ul {
  text-align: center;
}
#cssmenu.align-center > ul > li {
  float: none;
  margin-left: -3px; 
}
#cssmenu.align-center ul ul {
  text-align: left;
}
#cssmenu.align-center > ul > li:first-child > a {
  border-radius: 0;
}
#cssmenu > ul > li > a {
  outline: none;
  display: block;
  position: relative;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  /*font-size: 13px;*/
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  border-right: 1px solid #336699;
  color: #ffffff;
  padding: 12px 20px;
}
#cssmenu > ul > li > a:after {
  content: "";
  position: absolute;
  border-right: 1px solid;
  top: -1px;
  bottom: -1px;
  right: -2px;
  z-index: 99;
  border-color: #336699;
}
#cssmenu ul li.has-sub:hover > a:after {
  top: 0;
  bottom: 0;
}
#cssmenu > ul > li.has-sub > a:before {
  /*content: "";*/
  position: absolute;
  top: 18px;
  right: 6px;
  border: 5px solid transparent;
  border-top: 5px solid #ffffff;
}
#cssmenu > ul > li.has-sub:hover > a:before {
  top: 19px;
}
#cssmenu > ul > li.has-sub:hover > a {
  padding-bottom: 14px;
  z-index: 999;
}
#cssmenu ul li.has-sub:hover > ul,
#cssmenu ul li.has-sub:hover > div {
  display: block;
}
#cssmenu > ul > li > a:hover,
#cssmenu > ul > li.has-sub > a:hover,
#cssmenu > ul > li.has-sub:hover > a {
  background: #FFFFFF;
  color: #CC3300;
}
#cssmenu ul li > ul,
#cssmenu ul li > div {
  display: none;
  width: auto;
  position: absolute;
  /*top: 38px;*/
  background: #CDDBEB;
  z-index: 999;
  padding: 10px 0;
}
#cssmenu ul li > ul {
  width: 200px;
  padding: 0;
  
}
#cssmenu ul ul ul {
  position: absolute;
}
#cssmenu ul ul li:hover > ul {
  left: 100%;
  top: 0px;
}
#cssmenu ul li > ul li {
  display: block;
  list-style: inside none;
  position: relative;
  margin: 0;
  padding: 0;
  border: 0.1px solid #006699;
}
#cssmenu ul li > ul li a {
  outline: none;
  display: block;
  position: relative;
  /*font: 9.5pt Arial, Helvetica, sans-serif;*/
  font: 10pt Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #006699;
  text-decoration: none;
  margin: 0;
  padding: 8px 20px;
}
#cssmenu ul ul a:hover {
  color: #CC3300;
}
#cssmenu ul ul > li:hover > a,
#cssmenu ul ul li a:hover {
  background-color: #FFFFFF;
  border: 0.1px solid #006699;
}